body {
    color: #0FF;
    background-color: #000080;
}
 
a {
    color: #0FF;
}
 
.cmd-button {
    background-color: #008080;
    border: none;
}
 
.links a {
    color: #0FF;
}
 
.directory + span a {
    color: white;
}
 
.current-file {
    background-color: #008080;
    box-shadow: none;
}
 
.directory + .name + span {
    color:white;
}
 
.directory + .name + .size + span {
    color:white;
}
 
.directory + .name + .size + .owner + span {
    color:white;
}
 
.panel {
    border: 1.5px solid #0FF;
}
 
.text-file + span a {
    color: #0FF;
}
 
.text-file +.name + span {
    color: #0FF;
}
 
.text-file +.name + .size + span {
    color: #0FF;
}
 
.text-file +.name + .size + .owner + span {
    color: #0FF;
}
 
.fm-header {
    color: #ffff3a;
}

.selected-file, .selected-file .name > a {
    color: #FFFF3A;
}
