/* color of background */
body {
    background-color: #000080;
}

/* color of border of panels */
.panel {
    border: 1.5px solid #0FF;
}

/* color of clean and refresh buttons */
.path-icon {
    color: #ffff3a;
}

/* color of background of path */
.links {
    background-color: teal;
}

/* color of links of path */
.links a {
    color: #0FF;
}

/* color of header of panels */
.fm-header {
    color: #ffff3a;
}

/* button styles */
.cmd-button {
    color: black;
    background-color: #008080;
    border: none;
}

.cmd-button:hover {
    border: none;
}

.cmd-button:active {
    background-color: #008080;
    color: black;
    border: none;
}

/* color of background of cursor */
.current-file {
    background-color: #008080;
    box-shadow: none;
}

/* color of names of directories*/
.directory + span a {
    color: white;
}
 
.directory + .name + span {
    color:white;
}
 
.directory + .name + .size + span {
    color:white;
}
 
.directory + .name + .size + .owner + span {
    color:white;
}

/* color of names of files*/
.text-file + span a {
    color: #0FF;
}

.text-file +.name + span {
    color: #0FF;
}

.text-file +.name + .size + span {
    color: #0FF;
}

.text-file +.name + .size + .owner + span {
    color: #0FF;
}

/* color of selected files */
.selected-file .name > a {
 color: #FFFF3A;
}

.selected-file .name + span {
 color: #FFFF3A;
}

.selected-file .name + .size + span {
 color: #FFFF3A;
}

.selected-file .name + .size + .owner + span {
 color: #FFFF3A;
}
